#
# ~/.config/compton.conf
#

# Backend = "xrender" or "glx"
backend = "glx";

# painting on X Composite overlay window. Recommended.
paint-on-overlay = true;

# V-Sync
vsync = "drm"

# Refresh rate
refresh-rate = 60;

# Shadow
shadow = true;

clear-shadow = true;
no-dnd-shadow = true;
no-dock-shadow = true;

shadow-radius = 7;
shadow-offset-x = -7;
shadow-offset-y = -7;

shadow-opacity = 0.7;
shadow-red = 0.0;
shadow-green = 0.0;
shadow-blue = 0.0;

shadow-exclude = [ 
	"name = 'Notification'",
	"class_g = 'Conky'",
	"class_g ?= 'Notify-osd'"
];

# shadow-ignore-shaped = false;

# Fading
fading = true;

fade-in-step = 0.05;
fade-out-step = 0.05;

